@import "variables";
@import "mixins";

.appTitle {
  margin-top: 0;
  text-align: center;
  font-weight: 100;
}

.appHeader {
  background: linear-gradient(0deg, rgba(#000, 0) 0%, rgba(#000, 0.8) 100%);
  color: #fff;
}

.appHeader,
.searchApp {
  width: 100%;
  padding: 30px 15px;
}

.searchApp {
  padding: 0;
}

.fieldDestination,
.appNav {
  width: 100%;
  margin: 15px auto;

  @media (min-width: 1024px) {
    width: 70%;
  }

  @media (min-width: 1300px) {
    width: 40%;
  }
}

.fieldDestination {
  input {
    width: 100%;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #aaa;
  }
}

.appNav {
  p {
    margin-bottom: 5px;
  }

  ul {
    @extend %flexPosition;
    list-style-type: none;
    padding: 0;
    margin: 0 -5px;
    justify-content: center;

    li {
      padding: 5px 5px;
      @include flexWidth(50%);

      &:last-child {
        @include flexWidth(100%);
      }

      @media (min-width: 640px) {
        @include flexWidth(33.333%);

        &:last-child {
          @include flexWidth(33.333%);
        }
      }

      button {
        display: block;
        width: 100%;
        padding: 7px 15px;
        cursor: pointer;
        background-color: #CFEBDF;
        border: none;
        color: darken(#9BC4CB, 50%);

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #9BC4CB;
        }
      }

      svg {
        max-height: 15px;
        margin-bottom: 5px;
        width: auto;

        path {
          fill: darken(#9BC4CB, 50%);
        }
      }

      &.active {
        button {
          color: #fff;
          background-color: #710E0E;
        }

        svg path {
          fill: #fff;
        }
      }
    }
  }
}

.error-message {
  background-color: lighten($red, 60%);
  color: $red;
  padding: 15px;
}

.photoDescription {
  position: absolute;
  max-width: 40%;
  bottom: 30px;
  right: 30px;
  background-color: rgba(#000, .8);
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  h2 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.bgImg {
  max-width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;

  @media (orientation: portrait) {
    min-height: 100vh;
    width: auto;
  }
}

.showMap {
  .photoDescription {
    display: none;
  }
}