@import "variables";
@import "mixins";

.appTitle {
  margin-top: 0;
  text-align: center;
}

.appHeader,
.searchApp {
  width: 100%;
  padding: 30px 15px;
}

.searchApp {
  padding: 0;
}

.fieldDestination,
.appNav {
  width: 100%;
  margin: 15px auto;

  @media (min-width: 1024px) {
    width: 70%;
  }

  @media (min-width: 1300px) {
    width: 40%;
  }
}

.fieldDestination {
  input {
    width: 100%;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #aaa;
  }
}

.appNav {
  ul {
    @extend %flexPosition;
    list-style-type: none;
    padding: 0;
    margin: 0 -5px;
    justify-content: center;

    li {
      padding: 5px 5px;
      @include flexWidth(50%);

      &:last-child {
        @include flexWidth(100%);
      }

      @media (min-width: 640px) {
        @include flexWidth(33.333%);

        &:last-child {
          @include flexWidth(33.333%);
        }
      }

      button {
        display: block;
        width: 100%;
        padding: 7px 15px;
        cursor: pointer;
        background-color: #D6D6D6;
        border: none;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: darken($grey, 5%);
        }
      }

      svg {
        max-height: 15px;
        margin-bottom: 5px;
        width: auto;
      }

      &.active {
        button {
          color: #fff;
        }

        svg path {
          fill: #fff;
        }

        &.hotels {
          button {
            background-color: $blue;
          }
        }

        &.attractions {
          button {
            background-color: $green;
          }
        }

        &.bars {
          button {
            background-color: $red;
          }
        }
      }
    }
  }
}

.error-message {
  background-color: lighten($red, 60%);
  color: $red;
  padding: 15px;
}