@import "variables";
@import "globals";
@import "header";
@import "mixins";

body.showMap {
  .searchApp {
    opacity: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.map {
  // transform: translateX(-100%);
  min-height: 70vh;
  position: relative;
}

.searchApp {
  @extend %flexPosition;
  opacity: 0;
  transition: all 0.3s;
  margin: 0;

  @media (min-width: 768px) {
    margin: 0 -15px;
  }

  .map {
    @include flexWidth(calc(100% - 30px));
    margin: 30px auto 0 auto;
    padding: 0 15px;

    @media (min-width: 768px) {
      @include flexWidth(65%);
      margin-top: 0;
    }

    @media (min-width: 1024px) {
      @include flexWidth(75%);
    }

  }

  .results {
    @include flexWidth(100%);
    padding: 0 15px;

    @media (min-width: 768px) {
      @include flexWidth(35%);

    }

    @media (min-width: 1024px) {
      @include flexWidth(25%);
    }
    // padding: 0 15px;
    max-height: 70vh;
    overflow-y: scroll;
    text-align: center;
  }
}

// results navigation
.resultsNav {
  .noResult {
    width: 100%;
  }

  .result {
    @extend %flexPosition;
    align-items: center;
    text-align: left;
    padding: 15px;
    cursor: pointer;

    &:nth-child(odd) {
      background-color: $oliveGreen;
    }

    &:nth-child(even) {
      background-color: #ebe3cd;
    }

    &.active {
      background-color: $red;
      color: #fff;
    }

    .ico {
      @include flexWidth(40px);
    }

    .resultContent {
      @include flexWidth(calc(100% - 40px));
      padding-left: 15px;

      .resultName {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}

// load more button
button.more {
  padding: 10px 20px;
  background-color: $red;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  &:disabled {
    opacity: 0.7;
    cursor: auto;
  }
}

// info window
.infoWindow {
  .title {
    @extend %flexPosition;
    @include flexWidth(100%);
    align-items: center;

    img {
      // @include flexWidth(30%);
      width: 30px !important;
      height: 30px;
    }

    h6 {
      @include flexWidth(70%);
      margin: 0;
      padding-left: 15px;
      font-size: 1rem;
    }
  }

  table {
    margin-top: 10px;

    td,
    th {
      vertical-align: top;
      padding: 5px;
    }

    th {
      text-align: center;
    }

    a {
      color: $red;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  &:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid $red;
    border-color: $red transparent $red transparent;
    animation: lds-hourglass 1.2s infinite;
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}


.loading {
  overflow-y: hidden;
}

body:not(.loading) {
  .loader {
    transform: translateY(-100%);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #d9d9d9;
  text-align: center;
  padding-top: 30vh;
  z-index: 99;
}