@import "variables";
@import "globals";
@import "header";

body.showMap {
  .searchApp {
    opacity: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.map {
  // transform: translateX(-100%);
  min-height: 70vh;
  position: relative;
}

.searchApp {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 0;
  transition: all 0.3s;

  .map {
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 15px;
  }

  .results {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 15px;
    max-height: 70vh;
    overflow-y: scroll;
  }
}

// results navigation
.resultsNav {
  .result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 15px;
    margin: 5px 0;
    cursor: pointer;
    // border: 1px solid #d9d9d9;

    &:nth-child(odd) {
      background-color: #d9d9d9;
    }

    &.active {
      background-color: lighten($red, 60%);
      color: $red;
    }

    .ico {
      flex-basis: 30px;
      max-width: 30px;
    }

    .resultContent {
      flex-basis: calc(100% - 30px);
      max-width: calc(100% - 30px);
      padding-left: 10px;

      .resultName {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }

    .rating {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}


